@model GestionArticles.Models.Autocar
@{
    ViewBag.Title = "CreateCar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<h2>ajouter car</h2>


<form action="/societes/ajouterCar" method="post">
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <input type="hidden" name="id_societe" value="@id" />

        <div class="form-group">
            @Html.LabelFor(model => model.maricule, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.maricule, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.maricule, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.nombre_places, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.nombre_places, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.nombre_places, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="ajouter" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}