@model IEnumerable<GestionArticles.Models.SocietéTransport>

@{
    ViewBag.Title = "Index";
}

<h2>liste des societers</h2>

<p>
    <a href="/Societes/ajouter">ajouter societers</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.logo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.telephone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.login)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mdp)
        </th>

        <th>Action</th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        <img src="~/Pictures/@item.logo" alt="@item.logo" width="200"  />
        
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.nom)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.email)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.telephone)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.login)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.mdp)
    </td>

    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
        @Html.ActionLink("Details", "Details", new { id = item.id }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.id })
    </td>
</tr>
    }

</table>
