@model GestionArticles.Models.Utilissateur

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Utilissateur</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nom_complet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nom_complet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telephone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telephone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.login)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.login)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mdp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mdp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cofirm_mdp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cofirm_mdp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Navette.id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Navette.id)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
