@model GestionArticles.Models.Demande

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Demande</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Navette.id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Navette.id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Utilissateur.nom_complet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Utilissateur.nom_complet)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
