@model GestionArticles.Models.Navette

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Navette</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.heur_depart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.heur_depart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.heur_arriver)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.heur_arriver)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.disponible)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.disponible)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.demande)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.demande)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Autocar.maricule)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Autocar.maricule)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ville.nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ville.nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ville1.nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ville1.nom)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
