@model GestionArticles.Models.Autocar

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Autocar</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.maricule)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.maricule)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nombre_places)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre_places)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SocietéTransport.nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SocietéTransport.nom)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
